@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.header {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px 0px 20px 0px;
  font-family: 'Jost', sans-serif;
  font-size: 46px;
  color: #3B424A;
  background-color: #D1CEC9;
}

a {
  all: unset;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #ADB6A4;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  color: #3B424A;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #ADB6A4;
  height: 100%;
  padding: 16px;
  border: none;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  color: #3B424A;
  text-transform: uppercase;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D1CEC9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  color: #3B424A;
  text-transform: uppercase;
  cursor: pointer;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.articles-header {
  text-align: center;
  width: 100%;
  font-family: 'Jost', sans-serif;
  font-size: 30px;
  color: #3B424A;
  text-transform: uppercase;
}

.articles-header > p {
  margin: 0px 40px 0px 40px;
}

.articles-header > h2 {
  margin: 20px 40px 10px 40px;
}

.articles-container {
  padding: 10px 0px 10px 0px;
}

.article-card {
  margin: 20px 20px 10px 20px;
  padding: 0px 20px 0px 20px;
  border: 1px solid;
  border-radius: 20px;
  font-family: 'Jost', sans-serif;
  background-color: #D1CEC9;
  cursor: pointer;
  transition: 0.4s;
}

.article-card:hover {
  background-color: #ADB6A4;
  border: 2px solid;
}

.article-card .top-row {
  text-transform: uppercase;
  font-size: 16px;
}

.article-card .bottom-row {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 12px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jost', sans-serif;
  font-size: 40px;
  color: #3B424A;
}

.article {
  padding: 20px 30px 20px 30px;
}

.article-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  color: #3B424A;
}

.article-header-bottom-row {
  display: flex;
  justify-content: space-between;
}

.article-body {
  text-align: justify;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  color: #3B424A;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  color: #3B424A;
}

.votes-container {
  display: flex;
  justify-content: flex-end;
}

.vote-button-right, .vote-button-left {
  width: 30px;
  height: 30px;
  background-color: white;
  border: none;
}

.vote-button-left {
  margin-left: 10px;
}

.arrows {
  display: flex;
  align-items: center;
}

.up-arrow, .down-arrow {
  height: 25px;
  width: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.down-arrow {
  transform: rotate(180deg);
}

.up-arrow:hover {
  background-color: green;
}

.down-arrow:hover {
  background-color: red;
}

.error {
  font-size: 16px;
  color: red;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  padding: 10px 28px 10px 28px;
  margin-top: 20px;
  background-color: #D1CEC9;
  font-family: 'Jost', sans-serif;
  font-size: 12px;
  color: #3B424A;
}

.comments-container {
  font-family: 'Jost', sans-serif;
  color: #3B424A;
  border: 1px solid #3B424A;
  padding: 0px 20px 0px 20px;
  margin: 20px 0px 0px 0px;
  border-radius: 20px;
}

.comments-container > h2 {
  text-transform: uppercase;
  color: #3B424A;
  text-align: center;
  font-size: 26px;
}

.comment-header {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 20px;
  color: #3B424A;
}

.comment-header > p {
  height: 0px;
}

.comment-header > h4 {
  height: 5px;
}

.comment-card {
  background-color: #D1CEC9;
  padding: 0px 20px 10px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.comment-footer {
  text-align: right;
  font-size: 20px;
  text-transform: uppercase;
}

.add-comment {
  border: 1px solid #3B424A;
  z-index: -2;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 0px 20px 10px 20px;
  
}

.add-comment-text {
  padding-left: 20px;
  font-size: 18px;
  text-transform: uppercase;
}

.comment-input {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 0;
  border-radius: 26px;
  border: none;
  background-color: #D1CEC9;
}

.author-input {
  width: 100%;
  border: none;
  padding: 0;
  border-radius: 999px;
  height: 50px;
  margin-bottom: 30px;
  margin-top: 10px;
  z-index: 0;
  background-color: #D1CEC9;
}

.comment-submit-button {
  width: 100%;
  background-color: #D1CEC9;
  border: none;
  border-radius: 999px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  color: #3B424A;
  font-size: 20px;
  height: 50px;
  transition: 0.4s;
}

.comment-submit-button:hover {
  font-size: 22px;
  cursor: pointer;
}

.comment-submitted, .comment-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 340px;
  border: 1px solid #3B424A;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 0px 20px 10px 20px;
  font-size: 60px;
}

.comment-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 340px;
  border: 1px solid #3B424A;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 0px 20px 10px 20px;
  font-size: 30px;
  color: red;
  text-transform: uppercase;
}

.comment-input-error {
  color: red;
  text-transform: uppercase;
  font-size: 12px;
  margin: 70px 0px 0px 30px;
  z-index: -1;
  position: absolute;
  transition: 1s;
}

.comment-input-error-show {
  margin: 104px 0px 0px 30px;
}

.author-input-error {
  color: red;
  text-transform: uppercase;
  font-size: 12px;
  margin: 30px 0px 0px 30px;
  z-index: -1;
  position: absolute;
  transition: 1s;
}

.author-input-error-show {
  margin: 63px 0px 0px 30px;
}

@media only screen and (min-width: 700px) {
  .articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .article-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 220px;
  }
  .article-header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    color: #3B424A;
  }
  .article {
    padding: 20px 100px 20px 100px;
  }
  .comment-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .comment-input-error, .author-input-error {
    font-size: 16px;
  }
}


